<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810642021418-emlrvepkpmkdau88l1rglo9588vq6puh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810642021418-emlrvepkpmkdau88l1rglo9588vq6puh</string>
	<key>API_KEY</key>
	<string>AIzaSyBUFFcFVMzYdE4x8HDZqMUW4BLDUBIuw6s</string>
	<key>GCM_SENDER_ID</key>
	<string>810642021418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AnhDucCo.op.Sugarless</string>
	<key>PROJECT_ID</key>
	<string>sugarless-a3dea</string>
	<key>STORAGE_BUCKET</key>
	<string>sugarless-a3dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810642021418:ios:28912aee4b916b45683753</string>
</dict>
</plist>